@{
    ViewData["Title"] = "Home Page";
}
<html>
<body style="background-color:powderblue;">
    <div class="text-center">
        <h1 class="display-4">Welcome to Brit's Coffee Shop!</h1>
        <img src="https://media.istockphoto.com/id/900816038/photo/staff-working-behind-counter-in-busy-coffee-shop.jpg?s=612x612&w=0&k=20&c=FnZqtp_qmNfH8VmGfm8805ibNjtX5wD2Avb0ZeO3dwY=" alt="Coffee Counter">
        <h3>Please take a glance at the menu. We look forward to your visit!</h3>
    </div>
</body>
</html>
